{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "proseWrap": "never",
  "ternaryLine": false,
  "ternary": false
}