.draggableItem {
  position: relative;

  &.dragging {
    position: fixed;
    z-index: 999;
  }
}

.zone {
  width: 100%;

  height: 100%;
  min-height: 20px;
  /* background: rgba(255, 0, 0, 0.043); */
  &[data-active] {
    /* box-shadow: 0 0 1px  red; */
  }
}

.DraggableLine {
  background: red;
  min-height: 10px;
  width: 100%;
}

.draggableItem[data-insert-before='true'] {
  border-top: 2px solid var(--accent);
}